#footerbottom {
    background-color: rgb(200, 199, 199);
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    p {
        color: white;
    }

}

#footertop {
    background-image: url("../../images/49594770503_4a4aff685d_k.jpg");
    height: 50vh;

    .footercover {
        background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;

        .footer-box {
            margin: 0 10%;
            padding-top: 5%;

            #icons {
                float: right;

            }

            .btn-blue {
                background-color: rgb(4, 136, 168);
                color: white;
            }

            p {
                color: white;
            }

            .footer-content {
                padding-bottom: 15px;

                img {
                    width: 10%;
                }

            }



        }
    }
}

#copyright {
    width: 100%;
    height: 50px;
    background-color: rgb(68, 68, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

    p,
    h2 {
        color: white;
    }
}