footer{
    background-color: rgb(200, 199, 199);
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    #footer-content img {
        
    }

    p{
        color: white;
    }
}
    



    
