@font-face {
  font-family: "futiger";
  src: url("../../fonts/Frutiger.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "futiger";
  src: url("../../fonts/Frutiger_bold.ttf");
  font-weight: bold;
}



body {
  font-family: 'futiger', sans-serif;
  margin: 0;
}