#accueil{
    height: 400vh;

    #vitrine{
        background-image: url("../../images/eurovelo-img1.png");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 80vh;

        .vitrine-content{
            text-align: center;
            padding-top: 300px;
            color: white;
            h1{
                font-size: 50px;
            }
            h2{
                font-size: 35px;
                padding-bottom: 35px;
            }
            form{
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 30px;

                input{
                    border-radius: 6px;
                }
                .btn{
                    border: 2px solid white;
                    border-radius: 6px;
                    padding: 10px 15px;
                    background-color: rgb(78, 203, 237);
                    color: white;
                }
            }
        }
    }

    #temoignages{
        background-image: url('../../images/eurovelo-img2.png');
        width: 100%;
        height: 55vh;
        
        h1{
            color: white;
            padding-top: 10px;
            font-size: 60px;
            text-transform: uppercase;
            font-weight: bold;
        }
        #temoignage-cover{
            background-color: rgba(0, 0, 0, 0.3);
            width: 100%;
            height: 55vh;
            text-align: center;
            
        }

        .temoignages-content{
            
            width: 100%;
            height: 55vh;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-top: 90px;
            gap: 50px;

            img{
                border-radius: 10px;
            }
            
            
        }




    }



}



#formulaire{
    background-color: aqua;
    width: 40%;
    margin: auto;
    border-radius: 6px;

    select, input{
        width: 50%;

    };
}




/* carousel temoignage */
.carousel {
    width: 300px; /* Ajustez la largeur selon vos besoins */
    overflow: hidden; /* Masque le contenu dépassant de la zone du carrousel */
    position: relative; /* Assurez-vous que le carousel a une position relative */
    z-index: 999;
  }
  
  .carousel img {
    width: 100%; /* Ajustez la taille des images selon vos besoins */
    height: auto;
  }
  
  .carousel img {
    animation: carousel-animation 10s linear infinite; /* Durée et type d'animation */
  }
  
  @keyframes carousel-animation {
    0% {
      transform: translateX(0); /* Démarre depuis la position initiale */
    }
    100% {
      transform: translateX(-100%); /* Se déplace vers la gauche */
    }
  }

 
  /* avis */
  #avis{

    #avis-title{
        text-align: center;
        margin: 5% 30%;

        h1{
            font-size: 40px;
        }
        p{
            font-size: 22px;
        }
        
    }

    #avis-box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    
        .avis-content-box{
        width: 30%;
        background-color: rgb(230, 230, 230);
        border-radius: 10px;
        padding: 10px;

            .name{
                font-weight: bold;
                font-size: 25px;
            }

            .provenance{
                padding: 10px;
                background-color: orange;
                width: inherit;
            }

            .notes{
                display: flex;
                gap: 100px;
            }
        }



  }



  }


  /* rejoindre */
  #rejoindre{

    #rejoindre-title{
        text-align: center;
        margin: 5% 30%;

        h1{
            font-size: 40px;
        }
        p{
            font-size: 22px;
        }
    }

    #rejoindre_grid{
        display: grid;
        
        grid-template-columns: repeat(3,1fr);
        row-gap: 30px;
        margin-left: 10%;

        .item{

            img{
                width: 70%;
                position: relative;
            }

            p{
                position: absolute;
            }
        } 
    }
}

// Accueil vélo
.grid {
    display: grid;
    grid-template-columns: 350px 350px;
    justify-content: left;
    margin-left: 50px;
  }

  .imagerow{
    width: 262.5px;
    height:350px;
  }
.row1{
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
  }