#avis-single{
    background-image: url("../../images/49594770503_4a4aff685d_k.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

#avis-single{
    #avis{
         #avis-title{
             margin-top: 0;
            p{
                font-weight: bold;
            }
        } 
    }
}
