.listMap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#map {
    bottom: 0;
    height: 84vh;
    width: 50%;
    position: absolute;
    right: 0;
    z-index: -1;

}

.itinerairesList {
    bottom: 0;
    width: 50%;
    height: 84vh;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;

    .miniHeader {
        background-color: white;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;

        a {
            text-decoration: none;
            color: black;
            padding: 30px;
            font-weight: 600;
        }

        .activeItineraire {
            color: rgb(93, 23, 233);
            ;
        }
    }

    .planifierItineraire {
        padding: 1px 30px 20px;
        background-color: rgb(93, 23, 233);

        .planifier {
            color: white;
            font-size: 20px;
            font-weight: 700;
        }

        .etapesForm {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
        }

        .etape,
        .envoiItineraire {
            width: 30%;
            height: 50px;
            border-radius: 10px;
        }

        .envoiItineraire {
            background-color: rgb(93, 23, 233);
            border: 3px solid white;
            color: white;
            font-weight: 700;
            transition: .2s ease-in;
        }

        .envoiItineraire:hover {
            background-color: rgb(255, 255, 255);
            color: rgb(93, 23, 233);
        }


    }


    .telechargerGPX {
        text-align: center;
        padding: 10px;
        color: rgb(66, 183, 247);
    }

    .ficheItineraire {
        // margin-bottom: 10px;
        // display: flex;
        // flex-flow: row nowrap;
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-template-rows: 300px;
        border: 1px rgba(0, 0, 0, 0.418) solid;
        border-radius: 20px;
        overflow: hidden;
        margin-left: 10px;
        margin-bottom: 10px;
        width: 95%;
        // height: 300px;
        transition: .5s;



        // Fausse image

        .CaRemplaceUneImage {
            background-color: rgba(93, 23, 233, 0);
            overflow: hidden;
            height: 350px;
            transition: .5s;
        }

        .CaRemplaceUneImage img {
            transition: .5s;
            height: 400px;
            background-color: rgb(93, 23, 233);
        }

        .ficheTexte {
            position: relative;
            padding-bottom: 20px;



            .typeItineraire {
                background-color: orange;
                height: 20px;
                width: 85%;
                padding: 10px;
                color: white;
                font-size: 18px;
            }

            .difficulte {
                padding: 5px 50px 0px 30px;
                font-weight: 550;
            }

            .simple {
                color: blue;
            }

            .difficile {
                color: red;
            }

            .titreItineraire {
                padding-left: 10px;
                color: black;
            }

            .descriptionItineraire {
                width: 90%;
                bottom: 0;
                padding: 0px 20px 0px 10px;
                font-size: 15px;
                line-height: 30px;
                font-size: 700;
            }
        }
    }

    .ficheItineraire:hover {
        grid-template-columns: 300px 1fr;
    }
}



@media screen and (max-width: 1500px) {
    .etapesForm {
        input {
            font-size: 10px;
        }
    }
}

@media screen and (max-width: 800px) {
    .listMap {
        display: flex;
        flex-flow: column nowrap;

        .itinerairesList {
            background-color: white;
            width: 100%;
            height: 30%;
            border-radius: 30px 30px 0px 0px;
            transition: .2s;
        }

        .itinerairesList:hover {
            height: 80%;
        }

        .miniHeader,
        .itinerairesList::-webkit-scrollbar {
            display: none;

        }

        .ficheItineraire {
            height: 250px;
            grid-template-columns: 150px 1fr;

            .difficulte {
                display: none;
            }
        }

        .ficheItineraire:hover {
            grid-template-columns: 0px 1fr;
        }


        #map {
            transform: translate(-50%, 0%);
            bottom: 0;
            left: 50%;
            height: 100vh;
            width: 100%;
            z-index: -1;

        }


    }
}