.listMap {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-rows: 1fr;
}

#map {
    bottom: 0;
    height: 84vh;
    width: 50%;
    position: absolute;
    right: 0;
    z-index: -1;

}

.itinerairesList {
    bottom: 0;
    width: 50%;
    height: 84vh;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;

    .miniHeader {
        background-color: white;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;

        a {
            text-decoration: none;
            color: black;
            padding: 30px;
            font-weight: 600;
        }

        .activeItineraire {
            color: rgb(93, 23, 233);
            ;
        }
    }

    .planifierItineraire {
        padding: 1px 30px 20px;
        background-color: rgb(93, 23, 233);

        .planifier {
            color: white;
            font-size: 20px;
            font-weight: 700;
        }

        .etapesForm {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
        }

        .etape,
        .envoiItineraire {
            width: 30%;
            height: 50px;
            border-radius: 10px;
        }

        .envoiItineraire {
            background-color: rgb(93, 23, 233);
            border: 3px solid white;
            color: white;
            font-weight: 700;
            transition: .2s ease-in;
        }

        .envoiItineraire:hover {
            background-color: rgb(255, 255, 255);
            color: rgb(93, 23, 233);
        }


    }


    .telechargerGPX {
        text-align: center;
        padding: 10px;
        color: rgb(66, 183, 247);
    }

    .ficheItineraire {
        // margin-bottom: 10px;
        display: flex;
        flex-flow: row nowrap;
        border: 1px rgba(0, 0, 0, 0.418) solid;
        border-radius: 20px;
        overflow: hidden;
        margin-left: 10px;
        margin-bottom: 10px;
        width: 95%;
        height: 300px;


        // Fausse image

        .CaRemplaceUneImage {
            width: 300px;
            height: 300px;
            background-color: rgb(93, 23, 233);
        }

        .ficheTexte {
            position: relative;
            padding-bottom: 20px;



            .typeItineraire {
                background-color: orange;
                height: 20px;
                width: 85%;
                padding: 10px;
                color: white;
                font-size: 18px;
            }

            .difficulte {
                padding: 5px 50px 0px 30px;
                font-weight: 550;
            }

            .simple {
                color: blue;
            }

            .difficile {
                color: red;
            }

            .titreItineraire {
                padding-left: 10px;
                color: black;
            }

            .descriptionItineraire {
                width: 100%;
                bottom: 0;
                padding: 0px 20px 0px 10px;
                font-size: 17px;
                line-height: 30px;
                font-size: 700;
            }
        }
    }
}