.listMap {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-top: 200px;
}

#map {
    height: 84vh;
    width: 50%;
    position: absolute;
    right: 0;
    z-index: -1;

}

.itinerairesList {
    width: 50%;
    height: 84vh;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;

    .miniHeader {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;

        a {
            text-decoration: none;
            color: black;
            padding: 30px;
        }
    }

    .planifierItineraire {
        padding: 1px 30px 20px;
        background-color: rgb(93, 23, 233);

        .planifier {
            color: white;
            font-size: 20px;
            font-weight: 700;
        }

        .etapesForm {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
        }

        .etape, .envoiItineraire {
            width: 30%;
            height: 50px;
        }
.envoiItineraire{}

    }

    .telechargerGPX {
        text-align: center;
        padding: 10px;
        color: rgb(66, 183, 247);
    }

    .ficheItineraire {
        // margin-bottom: 10px;
        display: flex;
        flex-flow: row nowrap;
        border: 1px rgba(0, 0, 0, 0.418) solid;
        border-radius: 20px;
        overflow: hidden;
        margin-left: 10px;
        margin-bottom: 10px;
        width: 95%;
        height: 250px;


        // Fausse image

        .CaRemplaceUneImage {
            width: 250px;
            height: 250px;
            background-color: green;
        }

        .ficheTexte {
            position: relative;
            padding-bottom: 20px;



            .typeItineraire {
                background-color: orange;
                height: 20px;
                width: 75%;
                padding: 10px;
                color: white;
                font-size: 18px;
            }

            .difficulte {
                color: blue;
                padding: 5px 50px 0px 30px;
                font-weight: 550;
            }

            .titreItineraire {
                padding-left: 10px;
            }

            .descriptionItineraire {
                width: 100%;
                bottom: 0;
                padding: 0px 20px 0px 10px;
                font-size: 20px;
                line-height: 30px;
                font-size: 700;
            }
        }
    }
}